h1 {
    font-family: sans-serif;
    color: blue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:8px;
    height: 100vh;
}

title {
    font-family:  sans-serif;
}

.countdown{ 
    font-size: 100px;
    margin-bottom: 40px;
}

button#start{
    color:white;
    background-color: lightslategray;
    font-size: 20px;
    border: 0;
    padding: 20px 30px;
    display: block;
}